

@media screen and (min-width: 1350px){
    .sleepingbag{
        top: 524px;
        left: 1038px;
        flex-direction: row-reverse;
    }
}
.sleepingbag-img{
    width: 45px;
}
@media screen and (min-width: 1350px){
    .sleepingbag-img{
        width:  151px;
        position: absolute;
        top:-260px;
        left: 141px;
    }
}

@media screen and (min-width: 1350px){
    .gear__txt--sleepingbag{
        width: 222px;
    }
}
.sleepingbag__arrow{
    width: 145px;
    height: 110px;
    top: -120px;
    left: 30px;
    transform: rotate(-3deg);
}